* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.list {
  margin: 35px 74px;
  font-family: 'Poppins', sans-serif;
}

.nav-links {
  padding: 2% 6%;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}

.nav-links ul li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 3px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.4s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.my-pic {
  width: 10rem;
  border-radius: 50%;
}

.my-name {
  font-size: 1.8rem;
}

.icons {
  cursor: pointer;
  width: 100%;
  margin: 12px 12px;
  text-align: center;

}

.icons a {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}

.flex-container {
  display: flex;
  margin: 35px 180px;
}

.flex-child {
  flex: 1;
}

.container {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 1.5rem;
}

.gallery_autoronto {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 1.5rem;
}

.gallery_utbc {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery_index {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.gallery__item--6 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--8 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--9 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--10 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__autoronto_1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__autoronto_2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__autoronto_3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__autoronto_4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__utbc_1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__utbc_2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__utbc_3 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__index_1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__index_2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}